*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

nav{

position:fixed;
top:0;
width:100%;
background:#020617;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
z-index:1000;

}

nav ul{

display:flex;
list-style:none;
gap:30px;

}

nav a{

color:white;
text-decoration:none;
font-weight:500;

}

.logo{

font-weight:bold;
font-size:20px;

}

.hero{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;

}

.hero h1{

font-size:48px;
margin-bottom:20px;

}

.hero p{

color:#cbd5e1;
max-width:600px;
margin-bottom:30px;

}

.btn{

background:#6366f1;
padding:14px 30px;
border-radius:8px;
text-decoration:none;
color:white;

}

.btn:hover{

background:#4f46e5;

}

section{

padding:120px 10%;

}

h2{

font-size:34px;
margin-bottom:40px;
text-align:center;

}

.projects{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;

}

.card{

background:#1e293b;
padding:20px;
border-radius:12px;
transition:0.4s;
opacity:0;
transform:translateY(40px);

}

.card img{

width:100%;
border-radius:8px;
margin-bottom:15px;

}

.card:hover{

transform:translateY(-10px) scale(1.02);

}

.card p{

color:#cbd5e1;
margin-bottom:10px;

}

.card a{

color:#60a5fa;
text-decoration:none;

}

#sobre p{

max-width:700px;
margin:auto;
text-align:center;
color:#cbd5e1;
line-height:1.7;

}

footer{

text-align:center;
padding:40px;
background:#020617;

}